//header.site-header
  a(href='./')
    .logo Unknown
  
  nav
    ul
      each linkItem in menu.data.menuLinks
        li
          a(href=Link.url(linkItem.link, ctx.linkResolver))
            != linkItem.label

header#header
  div.container-lcl
    div.header-logo
      h1
        a(href='/', title='Accueil')
          img#logo.img-responsive(src='/images/logo.png', alt='LCL')
    div.baseline
      img.img-responsive(src='/images/baseline.png', alt='Demandez plus à votre banque')
  .site-header
    nav
      ul
        each linkItem in menu.data.menuLinks
          li
            a(href=Link.url(linkItem.link, ctx.linkResolver))
              != linkItem.label